 <section class="main__default">
     <h2 class="main__default--heading">
         What's going on?
     </h2>
     <div class="main__default--pre">
         <img src="./img/866-500x300.jpg" alt="default-graphs" />
         <img src="./img/866-500x300.jpg" alt="default-graphs" />
     </div>
     <div class="main__default--post">
         <img src="./img/866-500x300.jpg" alt="default-graphs" />
         <img src="./img/866-500x300.jpg" alt="default-graphs" />
     </div>
 </section>