<section class="main__present">
    <h2 class="main__present-heading">
        Why shouldn't you panic?
    </h2>
    <p class="main__present-content">
        Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Odit laboriosam eos, unde numquam excepturi
        repellendus quae itaque tenetur, animi beatae
        exercitationem sed. Itaque, recusandae! Velit unde sunt
        optio corrupti accusantium rem esse, culpa quaerat
        ratione eum mollitia doloribus earum ea maiores dolorem?
        Ex, eveniet dolorem? optio corrupti accusantium rem
        esse, culpa quaerat ratione eum mollitia doloribus earum
        ea maiores dolorem? Ex, eveniet dolorem?
    </p>
</section>