<section class="main__result">


    <div class="main__result--pre">
        <img src="./img/102-350x300-grayscale.jpg" alt="placeholder-img" />
        <img src=<%=image%> id="unsplash" alt="placeholder-img" />
    </div>
    <div class="main__result--post">
        <img src="./img/102-350x300-grayscale.jpg" alt="placeholder-img" />
        <img src="./img/102-350x300-grayscale.jpg" alt="placeholder-img" />
    </div>
</section>